# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python virtual environments
venv/
env/
ENV/
.venv
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/
*.swp
*.swo
*~

# Distribution / packaging
dist/
build/
*.egg-info/

outputs/